body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('C:/Users/Parnian/Desktop/Habit management/Habit-Tracking-WebApp/src/frontend/assets/website_background.jpg');
    background-size: cover;
    /*background: linear-gradient(to right, #6c007a, #ff00fb);*/
}

.login-container{
    
    display: flex;
    width: 700px;
    height: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*.left-panel{
    width: 50%;
    background: linear-gradient(to right, #6c007a, #ff00fb);

}
.left-panel img{
    width: 100%;
    height: 200%;
    object-fit: cover;
   

}*/
.right-panel{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    color: blueviolet;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}
p{
    color:black;
    font-size: 16px;
    margin-bottom: 10px;
}
.input-group{

    margin: 10px 0;
   
    position: relative;
 
}
.input-group i{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}
input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: 2px;

}
button{
    padding: 10px;
    width: 50%;
    margin: 10px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(102, 51, 153);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    background-color: blueviolet;

}

span{
    cursor: pointer;
    color:  rgba(102, 51, 153);
}
.error{
    color: red;
    margin-top: 20px;
}
.message {
    color: green;
    margin-top: 10px;
    text-align: center;
}
<<<<<<< HEAD
.navbar{
    background-color: white;
    padding: 20px ;
    width: 100%;
    margin-bottom: 670px;
    
}
.navbar-logo{
    font-size:23px;
    color:blueviolet;
    padding-right: 350px;
    margin-top: 0px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}
.nav-menu{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar-item{
    color: blueviolet;
    margin-right: 40px;
    margin-top: 7px;
    font-size: 18px;
}
.navbar-link{
   
    text-decoration: double;
}
.navbar-login{
    margin-right:30px;
    margin-left: 350px;
    
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: blueviolet;
    padding: 5px;
}
.navbar-dashboard{
    margin-right: 30px;
  
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;
    border-color: blueviolet;
    padding: 5px;
   
    
=======
.register-button{
    color: aqua;
>>>>>>> 13b80ac (Change!)
}